/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
}

#nav {
    height: 50px;
    background-color: #FAFAFA;
    position: fixed; 
    top: 0; 
    width: 100%; 
}
#nav ul {
    display: inline-flex;
}

#nav li {
    list-style: none;
    padding: 15px 40px 15px 0;
}

#nav li a {
    padding: 15px 0;
    text-decoration: none;
    color: #1A1916;
}

#nav li a:hover{
    color: #FC7E00;
}


#cover {
    background-image: url("cover.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#cover h1 {
    color: #FAFAFA;
    font-size: 64px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sosmed {
    padding-top: 30px;
}

.sosmed a {
    padding: 0 10px;
    color: #F3C89D;
}

.sosmed a:hover {
    color: #F2F2F2;
}


#about {
    height: 100vh;
    background-color: #FAFAFA;
}

.title {
    height: 160px;
    padding-top: 120px;
    text-align: center;
}

.title h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.content {
    height: calc(100% - 160px);
}

.content h1 {
    font-size: 18px;
    padding-bottom: 30px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.box {
    padding: 100px 10px 0 10px;
    flex: auto;
    width: 30%;
}

.one {
    text-align: right;
}

.two {
    text-align: center;
}

.two img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hlight {
    color: #FC7E00;
}

td {
    padding-right: 40px;
}


#resume {
    height: 100vh;
    background-color: #FAFAFA;
}

#resume .box {
    padding: 0 60px;
    margin-top: 100px;
}

#resume .one {
    border-right: 2px solid #1A1916;
}

#resume .gambar {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#portfolio {
    height: 100vh;
    background-color: #1A1916;
}

#portfolio .title {
    color: #FAFAFA;
}

#portfolio .box {
    text-align: center;
}

.img-warp {
    position: relative;
}

.img-desc {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    background: rgb(26, 25, 22, 0.80);
    color: #FAFAFA;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.img-warp:hover .img-desc {
    visibility: visible;
    opacity: 1;
}

#footer {
    padding: 10px 0;
    background-color: #1A1916;
    text-align: center;
    color: #F2F2F2;
    font-size: 12px;
}


@media only screen and (max-width: 800px) {
    p, table {
        font-size: 12px;
    }

    .container {
        min-width: 300px;
        padding: 30px;
    }

    .hide, .img-desc {
        display: none;
    }

    #cover{
        background-image: url("texture.gif");
        text-align: center;
    }

    #cover h1 {
        font-size: 32pt;

    }

    #about, #resume, #portfolio {
        height: auto;
        padding-bottom: 50px;
    }

    .content {
        height: auto;
    }
    .title {
        padding-top: 50px;
        margin: 0;
    }

    .title h1 {
        font-size: 16px;
    }

    .title p {
        border-bottom: 1px solid #1A1916;
        padding-bottom: 20px;
    }

    .boxes {
        padding: 0;
    }

    .box {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }
    
    .one, .three h1 {
        text-align: center;
    }

    table {
        padding-left: 10px;
    }

    #resume .one {
        border: 0;
    }
    
    #resume .box {
        text-align: center;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
    }
    
    #resume .gambar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #portfolio {
        background-image: url("texture.gif");
    }

    #portfolio .title p {
        border-bottom: 1px solid #F2F2F2;
    }

    #portfolio img {
        max-width: 100%;
        height: auto;
    }

    #footer {
        padding:0;
        font-size: 10px;
    }
}
